<div class="container">
    <div class="mt-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnFGoqRUOQo7dZaLLru-yNmQJirH04gYd2om_QBluGmykcqXeqc9vCQXZ_ki85xsFj5is&usqp=CAU"
            class="card-img-top logo" alt="...">
    </div>
    <div role="tabpanel" class="mb-5">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
            <a class="actv list-group-item list-group-item-action active slcn" data-bs-toggle="list" href="#home"
                role="tab"><i class="fa-solid fa-list "></i>
                <button type="button" class="btn pb-3">Categorias</button><i class="fa-solid fa-caret-right"></i></a>
            <a class="actv list-group-item list-group-item-action slcn" data-bs-toggle="list" href="#profile"
                role="tab"><i class="fa-solid fa-cube"></i>
                <button type="button" class="btn pb-3">Productos</button><i class="fa-solid fa-caret-right"></i></a>
            <a class="actv list-group-item list-group-item-action slcn" data-bs-toggle="list" href="#messages"
                role="tab"><i class="fa-solid fa-arrow-right-to-bracket inv"></i>
                <button type="button" class="btn pb-3">Ingresos</button><i class="fa-solid fa-caret-right"></i></a>
            <a class="actv list-group-item list-group-item-action slcn" data-bs-toggle="list" href="#settings"
                role="tab"><i class="fa-solid fa-arrow-right-to-bracket"></i>
                <button type="button" class="btn pb-3">Salidas</button><i class="fa-solid fa-caret-right"></i></a>
            <a class="actv list-group-item list-group-item-action slcn" data-bs-toggle="list" href="#settings"
                role="tab"><i class="fa-solid fa-clipboard-list"></i>
                <button type="button" class="btn pb-3">Kardex</button><i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
    <div class="pdb" style="text-align: center;">
        <button type="submit" class="btn btn-danger"  (click)="exit()">Cerrar Sesion</button>
    </div>
</div>